/* Open Sans font  */
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    @apply font-primary;
}

* {
    box-sizing: border-box;
}

.hover-transition {
    @apply transition duration-200 ease-in-out;
}


.modal-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}
.modal-scroll::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.container1 {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container2 {
    height: 100%;
    width: 100%;
    overflow: auto;
} 
